 {{this.id}}. {{this.name}}

    
    <button type = "button" class="change-watched" data-id="{{id}}" data-newwatched ="{{watched}}">
       {{#if watched}} Add to watched {{else}} Watch again {{/if}}
    </button>
    

    <!-- <button class="delete-movie" data-id="{{id}}" data-newwatched="{{watched}}">
        {{#if watched}}Remove!{{else}}Remove
    </button> -->