 {{this.dataValues.id}}. {{this.dataValues.name}}

    
    <button type = "button" class="change-watched" data-id="{{this.dataValues.id}}" data-newwatched ="{{this.dataValues.watched}}">
       {{#if this.dataValues.watched}} Watch Again {{else}} Add to Watchlist {{/if}}
    </button>
