 {{this.id}}. {{this.name}}

    
    <button type = "button" class="change-watched" data-id="{{this.id}}" data-newwatched ="{{this.watched}}">
       {{#if this.watched}} Watch Again {{else}} Add to Watchlist {{/if}}
    </button>

    <button class="delete-movie" data-id="{{this.id}}">DELETE!</button>
