{{this.name}}
<br />
{{!-- Button changes between "Watch Again" and "Watch" --}}
<button type="button" class="btn btn-sm switchBtn change-watched" data-id="{{this.id}}"
   data-newwatched="{{this.watched}}">
   {{#if this.watched}}<span><i class="fas fa-film"></i></span> Watch Again {{else}} <span><i
         class="fas fa-film"></i></span> Watch {{/if}}
</button>
{{!-- Delete Movie Button --}}
<button class="btn btn-sm delete-movie deleteBtn" data-id="{{this.id}}"><span><i class="fas fa-minus-circle"></i></span>
   DELETE!</button>