 {{this.dataValues.id}}. {{this.dataValues.name}}

    
    <button type = "button" class="change-watched" data-id="{{id}}" data-newwatched ="{{watched}}">
       {{#if this.dataValues.watched}} Add to watched {{else}} Watch again {{/if}}
    </button>
