<li>
    {{id}}. {{name}}

    {{#if watch}}
    <button class="change-watched" data-id="{{id}}" data-newwatched="{{watch}}">
        Add back to watchlist!
    </button>
    {{/if}}

    <button class="delete-movie" data-id="{{id}}" data-newwatched="{{watch}}">
        {{#if watch}}Remove!{{else}}Remove
    </button>
</li>